**/.git
**/.gitignore
**/.dockerignore
**/node_modules
**/npm-debug.log
**/.nuget/
**/bin/
**/obj/
**/dist/
**/.vs/
**/.vscode/
**/build/
**/logs/
**/*.log
**/.DS_Store
**/test/
**/tests/
**/.env
**/.env.*
**/docker-compose.override.yml
**/*.sln
**/Properties/launchSettings.json
